@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* css global reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #efe9f4;
  font-weight: 400; }

body {
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  color: #283048; }

.heading-primary {
  color: #efe9f4;
  /* fixe le shake de l'animation */
  backface-visibility: hidden;
  margin-bottom: 3rem;
  font-variant: small-caps; }
  .heading-primary--main {
    display: block;
    font-size: 9rem;
    font-weight: 500;
    letter-spacing: 2.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1.4rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation: moveInRight 1s ease-out; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(40, 48, 72, 0.2); }

.btn--blue {
  background-color: #859398;
  color: #efe9f4;
  margin-top: 2rem; }
  .btn--blue::after {
    background-color: #859398; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-out; }

.albums {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  flex-wrap: wrap; }
  .albums__card {
    width: 20%;
    min-width: 250px;
    height: 80%;
    border: 1px solid #efe9f4;
    border-radius: 16px;
    text-align: left; }
    .albums__card img {
      border-radius: 16px 16px 0 0; }
    .albums__card h5 {
      font-size: 1.5rem; }
    .albums__card audio {
      width: 100%;
      height: 3rem; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(133, 147, 152, 0.8), rgba(40, 48, 72, 0.8)), url(../img/queenLanding.jpg);
  background-size: cover;
  background-position: top;
  /* clip path décrit chaque mouvement du polygone en partant à chaque fois du top left */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  .header__text-box {
    width: 100%;
    margin: 0 auto; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 15rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  height: 30vh;
  text-align: center; }
  .footer img {
    height: 20rem; }
  .footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    font-size: 2rem; }
    .footer ul li a {
      text-decoration: none;
      text-transform: uppercase; }
      .footer ul li a:active, .footer ul li a:link, .footer ul li a:visited {
        color: #283048;
        letter-spacing: 0.4rem; }
      .footer ul li a:hover {
        font-weight: 600;
        text-decoration: underline; }

.favorites {
  background: #efe9f4;
  height: 80vh;
  padding-top: 5vh;
  text-align: center; }
  .favorites h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem; }
  .favorites__display-box {
    width: 60%;
    height: 80%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 4rem; }
    .favorites__display-box--img {
      width: 55rem;
      height: 35rem;
      position: absolute;
      box-shadow: 4px 4px 20px #283048;
      transition: all 0.3s ease-out; }
      .favorites__display-box--img:nth-child(1) {
        bottom: 0;
        left: 20%;
        z-index: 3; }
      .favorites__display-box--img:nth-child(2) {
        top: 15%;
        right: 0;
        z-index: 2; }
      .favorites__display-box--img:nth-child(3) {
        top: 0;
        left: 0;
        z-index: 1; }
      .favorites__display-box--img:hover {
        background: #efe9f4;
        transform: scale(1.2);
        padding: 0.5rem;
        z-index: 99; }

.search {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20rem;
  margin-top: 5rem;
  background-image: linear-gradient(to right bottom, rgba(239, 233, 244, 0.8), rgba(40, 48, 72, 0.8));
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%); }
  .search h2 {
    font-size: 3rem; }
  .search h3 {
    font-size: 2.5rem; }
  .search .search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem; }
    .search .search-box__input {
      padding-left: 1rem;
      font-size: 2rem;
      color: #283048;
      height: 5rem;
      width: 30rem;
      border-radius: 1rem;
      border: 1px solid #283048;
      background-color: #efe9f4; }
    .search .search-box__deezer-button {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      background: url("../img/logoDeezer.png") center;
      background-size: cover;
      border: 1px solid #efe9f4; }
    .search .search-box__soon {
      border: 1px solid #283048;
      border-radius: 8px;
      padding: 10px;
      width: 30%; }
      .search .search-box__soon--players {
        display: flex;
        justify-content: space-around; }

.biographySection {
  height: 80vh; }
  .biographySection h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
    font-variant: small-caps; }
  .biographySection__favorites {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
    font-variant: small-caps; }
    .biographySection__favorites p:hover {
      font-weight: bold;
      cursor: pointer; }
  .biographySection .displayBiography {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    .biographySection .displayBiography__bandPicture {
      width: 40%;
      border: 1px solid #283048;
      border-radius: 10px; }
      .biographySection .displayBiography__bandPicture img {
        width: 100%;
        height: auto;
        max-height: 50vh;
        border-radius: 10px 10px 0 0; }
      .biographySection .displayBiography__bandPicture h3 {
        text-align: center;
        line-height: 6rem; }
    .biographySection .displayBiography__biography {
      width: 40%;
      font-size: 1.6rem;
      text-align: justify; }

.concerts {
  height: 100vh;
  width: 100%;
  padding-top: 20rem;
  background: linear-gradient(to right bottom, rgba(239, 233, 244, 0.8), rgba(133, 147, 152, 0.8)), url(../img/concert.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%); }
  .concerts h2 {
    text-align: center;
    font-size: 3rem;
    font-variant: small-caps; }
  .concerts__dates {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem; }
    .concerts__dates div h3 {
      padding-bottom: 3rem;
      font-variant: small-caps; }

@media screen and (max-width: 1200px) {
  html {
    font-size: clamp(1vw, 8px, 2.5vw); }
  .header {
    height: 70vh; }
    .header__logo-box {
      top: 2rem;
      left: 2rem; }
    .header__logo {
      height: 10rem; }
    .header .heading-primary {
      margin-top: 12rem; }
      .header .heading-primary--main {
        font-size: clamp(3vw, 5rem, 8vw);
        margin-bottom: 3rem; }
      .header .heading-primary--sub {
        font-size: clamp(1.5vw, 2.5rem, 6vw); }
  footer.footer {
    height: auto; }
    footer.footer img {
      height: clamp(8vw, 15rem, 18vw); }
    footer.footer ul {
      width: auto;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      font-size: 1.7rem; }
      footer.footer ul li {
        margin: 0.5rem; }
  .favorites {
    width: 100%;
    min-height: 100vh !important;
    max-height: 120vh;
    height: auto;
    contain: none; }
    .favorites__display-box {
      width: 80%;
      height: auto;
      min-height: 80vh; }
      .favorites__display-box--img {
        width: 60%;
        min-width: px;
        max-height: 50%;
        min-height: 40%;
        box-shadow: 3px 3px 20px #283048; }
        .favorites__display-box--img:nth-child(1) {
          bottom: 0;
          left: 15%;
          z-index: 3; }
        .favorites__display-box--img:nth-child(2) {
          top: 30% !important;
          right: 0;
          z-index: 2; }
        .favorites__display-box--img:nth-child(3) {
          top: 0;
          left: 0;
          z-index: 1; }
  .search {
    padding-top: 40%;
    height: auto;
    min-height: 140vh; }
    .search .search-box {
      width: 80%;
      flex-wrap: wrap; }
      .search .search-box__input {
        width: 30%; }
      .search .search-box__soon {
        min-width: 150px;
        font-size: 1rem; }
    .search .albums {
      height: 60%;
      max-height: 40vh; }
      .search .albums__card {
        width: 25%;
        min-width: 150px;
        height: clamp(20%, 40%, 40%);
        min-height: 20vh; }
        .search .albums__card img {
          min-height: 80%; }
  .biographySection {
    height: auto; }
    .biographySection h2 {
      padding-top: 5rem; }
    .biographySection__favorites {
      flex-wrap: wrap; }
  .displayBiography {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center !important; }
    .displayBiography__bandPicture {
      min-width: 80%;
      margin-bottom: 5rem; }
    .displayBiography__biography {
      min-width: 80%; }
  .concerts {
    min-height: 120vh;
    padding-top: 35%;
    padding-bottom: 20vh;
    overflow: scroll; }
    .concerts__dates {
      flex-wrap: wrap; }
      .concerts__dates div {
        width: 25%;
        max-width: 150px;
        max-height: 60%; }
        .concerts__dates div h3 {
          margin-bottom: 5rem;
          padding-bottom: 1rem;
          font-weight: bold; } }

@media screen and (max-width: 600px) {
  html {
    font-size: clamp(1vw, 6px, 3vw); }
  .header {
    height: 50vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    .header__logo-box {
      top: 2rem;
      left: 2rem; }
    .header__logo {
      height: 6rem;
      width: auto; }
    .header .heading-primary {
      margin-top: 15rem; }
      .header .heading-primary--main {
        font-size: clamp(3vw, 5rem, 8vw);
        margin-bottom: 5rem; }
      .header .heading-primary--sub {
        font-size: clamp(1.5vw, 3rem, 6vw); }
  footer.footer {
    height: auto; }
    footer.footer img {
      height: clamp(8vw, 15rem, 18vw); }
    footer.footer ul {
      width: auto;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      font-size: 1.4rem; }
      footer.footer ul li {
        margin: 0.5rem; }
  .favorites {
    width: 100%;
    min-height: auto;
    height: 140vh;
    max-height: 140vh; }
    .favorites h2 {
      margin-top: 3rem;
      margin-bottom: 3rem; }
    .favorites__display-box {
      min-width: 90%;
      height: 80%;
      max-height: 100vh; }
      .favorites__display-box--img {
        width: 100%;
        max-height: 50%;
        min-height: 30%;
        height: auto;
        box-shadow: 3px 3px 20px #283048; }
        .favorites__display-box--img:nth-child(1) {
          top: 0;
          left: 0;
          z-index: 1; }
        .favorites__display-box--img:nth-child(2) {
          top: 30%;
          left: 0;
          z-index: 2; }
        .favorites__display-box--img:nth-child(3) {
          top: 60%;
          left: 0;
          z-index: 3; }
  .search {
    margin-top: 5rem;
    min-height: 180vh;
    height: auto;
    margin-top: 5rem;
    padding-top: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    .search .search-box {
      flex-direction: column;
      width: 100%;
      height: 15vh;
      margin-top: 1rem; }
      .search .search-box__input {
        margin-bottom: 1rem;
        width: 60%; }
      .search .search-box__soon {
        display: none; }
      .search .search-box__deezer-button {
        width: 7rem;
        height: 7rem; }
    .search .albums {
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      height: auto;
      min-height: 100vh;
      max-height: 200vh;
      align-items: center; }
      .search .albums__card {
        width: 80%;
        max-height: 33%;
        min-height: 40vh;
        margin-bottom: 5rem; }
        .search .albums__card img {
          height: 75%;
          min-height: 20vh; }
        .search .albums__card h5 {
          font-size: 1.8rem; }
        .search .albums__card audio {
          width: 80%;
          height: 3rem;
          max-height: 5%; }
  .biographySection {
    height: auto; }
    .biographySection h2 {
      padding-top: 5rem; }
    .biographySection__favorites {
      flex-wrap: wrap; }
  .displayBiography {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center !important; }
    .displayBiography__bandPicture {
      min-width: 80%;
      margin-bottom: 5rem; }
    .displayBiography__biography {
      min-width: 80%; }
  .concerts {
    min-height: 100vh;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-top: 5rem;
    padding-top: 5rem;
    overflow: auto; }
    .concerts__dates {
      flex-wrap: wrap; }
      .concerts__dates div {
        min-width: 40%;
        max-height: 25%; }
        .concerts__dates div h3 {
          padding-bottom: 1rem;
          font-weight: bold; } }
