.search {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20rem;
    margin-top: 5rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-light-grey, 0.8),
        rgba($color-dark-blue, 0.8)
    );
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 5rem;

        &__input {
            padding-left: 1rem;
            font-size: 2rem;
            color: $color-dark-blue;
            height: 5rem;
            width: 30rem;
            border-radius: 1rem;
            border: 1px solid $color-dark-blue;
            background-color: $color-light-grey;
        }

        &__deezer-button {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            background: url('../img/logoDeezer.png') center;
            background-size: cover;
            border: 1px solid $color-light-grey;
        }

        &__soon {
            border: 1px solid $color-dark-blue;
            border-radius: 8px;
            padding: 10px;
            width: 30%;

            &--players {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}
