.header {
    position: relative;
    height: 95vh;
    // placement de l'image landing dans un header, avec un linear-gradient pour le
    background-image: linear-gradient(
            to right bottom,
            rgba($color-light-blue, 0.8),
            rgba($color-dark-blue, 0.8)
        ),
        url(../img/queenLanding.jpg);
    background-size: cover;
    background-position: top;
    /* clip path décrit chaque mouvement du polygone en partant à chaque fois du top left */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 15rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
