// mediaqueries

// phones : screen < 500px 
// tablets : 500 px < screen < 1200px


// Phones
@media screen and (max-width: 500px) {

    // ajustement de la taille de base 
    html {
        font-size: 6px;
    }

    // ajustement du header et du titre
    .header {
        height: 80vh !important;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
    .heading-primary--main {
        font-size: 7rem;
        margin-bottom: 5rem;
    }


    // section favoris, ajustement des images et de l'ombre
    .favorites {

        height: 160vh;
        &__display-box {
            min-width: 100%;
            height: 80%;

            &--img {
                min-width: 80%;
                max-width: 100%;
                max-height: 50%;
                height: auto;
                box-shadow: 3px 3px 20px $color-dark-blue;
                padding: 0;

                &:nth-child(1) {
                    bottom: 0;
                    left: 0 !important;
                    z-index: 3;
                }

                &:nth-child(2) {
                    top: 30% !important;
                    right: 0;
                    z-index: 2;
                }

                &:nth-child(3) {
                    top: 70%;
                    left: 0;
                    z-index: 1;
                }

            }
        }  
    }

    section.search {
        margin-top: 0;
        height: auto;
        padding-top: 40%;
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%) !important;

            div.search-box {
            flex-direction: column;
            width: 100% !important;
            height: 15vh !important;
            border: 1px solid red;
            margin-top: 1rem;

                &__input {
                    margin-bottom: 1rem;
                    width: 60% !important;
                }

                &__soon {
                    display: none !important;
                }

                &__deezer-button {
                    height: 7rem !important;
                    width: 7rem !important;
                }
            
            }

        .albums {
            flex-direction: column;
            flex-wrap: no-wrap;
            border: 1px solid red;
            height: auto;
            align-items: center;

            &__card {
                width: 80%;
                height: 20%;
                
                img {
                    height: 70%;
                }

                h5 {
                    font-size: 1.8rem;
                }

                audio {
                    width: 80%;
                    height: 4rem;
                }
            }
        }

    }

    
        

}

@media screen and (max-width: 1200px) {

    html {
        font-size: 8px;
    }

}


